<section id="profit" >
  <div class="title-profits"> 
    <section>¿Por qué elegirnos?</section>
  </div>

  
  <div class="elements-content">
    <div>
      <div  class="profit-container flip-box">
        <div class="content flip-box-inner">
          
          <div class="flip-box-front">
            <div class="title-profits-content" style="padding-top: 8%;">Inversionistas</div>
            
              <div class="elements-profit">
              <div class="profit-row" >
                <div class="img-profit" #target><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Rentabilidad superior a la banca tradicional</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Seguridad de tu dinero</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Selección del proyecto a invertir con su evaluación</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Plataforma digital intuitiva (rapidez)</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Club de beneficios para inversionista</section></div>
              </div>
            </div>
          </div>

          <div class="flip-box-back">
            <div class="title-profits-content" style="padding-top: 23%;">Promotores</div>

            <div class="elements-profit2">
              <div class="profit-row" >
                <div class="img-profit" #target><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Condiciones de financiamiento adaptadas a su modelo de negocio</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Seguridad y rapidez de financiamiento</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Puefo presentar varias rondas para financiarme</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Garantías flexibles</section></div>
              </div>
              <div class="profit-row">
                <div class="img-profit"><img src="assets/images/landing2/movil/check.png" alt=""></div>
                <div class="text-profit"><section>Puedo fidelizar clientes a través del club de beneficios e incrementar ventas</section></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="video">
      <div class="title-profits-content" style="position: relative; top: -9px;  display: flex; justify-content: center;">Testimonios</div>
      <iframe class="video-profit" src="https://www.youtube.com/embed/j6SJDBnenLg"
      title="YouTube video player" frameborder="0" autoplay 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
    </div> -->
    
  </div>

  <div>


  <div class="text-content" style="padding-top: 3%;">
    <div class="text-foot">
      Múltiplos S.A.S. B.I.C.  (Múltiplo – Multiplolenders) se encuentra   registrada como  plataforma de Fondos 
      colaborativos categorías de financiamiento reembolsable, recompensas y acciones, regulados por:
    </div>
  </div>

  <div style="display: flex; justify-content:center;">
    <div class="supported-border">
      <div class="text-supported">
      </div>
      <img src="assets/images/landing2/superintendencia/superindencia.png" class="width-img" alt="">
    </div>
  </div>

  <div class="text-content">
    <div class="text-foot">
      Algunos de nuestros aliados estratégicos son:   
    </div>
  </div>

<div style="display: flex; justify-content:center;">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-interval="2420">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/landing2/superintendencia/azure.png" style="width: 40%;" class="background-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing2/superintendencia/CITEC.png" style="width: 70%;" class="background-img" alt="...">
      </div>
     
      <div class="carousel-item">
        <img src="assets/images/landing2/superintendencia/afe2.png" style="width: 30%;" class="background-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing2/superintendencia/eclipsoft.png" style="width: 40%;" class="background-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing2/superintendencia/ico.png" style="width: 40%;" class="background-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
</div>
 
</div>

</section>


<!-- <div class="carousel-inner content-carousel">
  <div class="carousel-item active" style="margin-right: 0px; ">
      <div style="display: flex; justify-content: center; text-align: center;"> 
       <img src="assets/images/landing2/superintendencia/aws.png" style="width: 10%;" alt="">
      </div>
  </div>
  <div class="carousel-item" style="margin-right: 0px;">
    <div style="display: flex; justify-content: center; text-align: center;">
      <img src="assets/images/landing2/superintendencia/ico.png" style="width: 10%;" alt="First slide">
    </div>
  </div>
  <div class="carousel-item" style="margin-right: 0px;">
    <div style="display: flex; justify-content: center; text-align: center;">
      <img src="assets/images/landing2/superintendencia/CITEC.png" alt="Second slide">
    </div>
  </div>
  <div class="carousel-item" style="margin-right: 0px;">
    <div style="display: flex; justify-content: center; text-align: center;">
      <img src="assets/images/landing2/superintendencia/guanataca.png" alt="Third slide">
    </div>
  </div>
  <div class="carousel-item" style="margin-right: 0px;">
    <div style="display: flex; justify-content: center; text-align: center;">
      <img src="assets/images/landing2/superintendencia/afe.png" alt="Fourth slide">
    </div>
  </div>
</div> -->
