<div class="body-info">

    <div class="title-head">
        <!-- Para llenar este formulario, debe tener lo siguiente: -->
        CONSIDERAR: 
    </div>
    <div class="content-body">
        <ul>
           <li style="margin-bottom: 4%;">
            Para realizar este formulario, debe tener lo siguiente: </li>
            <li> 1. Datos personales del Deportista. </li>
            <li> 2. 2 fotos del deportista (660 x 330 px (2:1) y 3mb max) en formato jpg/png.</li>
            <li> 3. Documento de valoración del presupuesto del deportista emitido 
                    por el Ministerio de Deporte en formato pdf.</li>
            <li> 4. Información referente a los torneos que ha participado y los que va a participar.</li>
        </ul>
    </div>
    <div class="btn-content">
        <button (click)="cerrarModal()"  class="btn-orange">Aceptar </button>
    </div>
</div>