.container_ {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container_body {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 500px;
}
.center-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bg {
    box-shadow: rgb(0 0 0 / 48%) 0px 12px 14px;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    padding: 9px;
}

.box {
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background: white;
    background-clip: padding-box;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 7%;
    height: 100%;
}

.box::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(to right, #44a3f1, #004889);
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.background_card {
    width: 600px;
    height: 300px;
    max-width: 1500px;
    margin: auto;
}
.items_conteiner {
    text-align: center;
    font-size: 1.4em;
    width: 100%;
    color: #e06222;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.menu_items {
    list-style: none;
    display: flex;
    padding: 2% 5%;
    border: 1px solid;
    border-color: rgb(165, 165, 165);
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    width: 100%; 
    margin-bottom: 6%;
 
}
.box-flex {
    border-radius: 10px !important;
    text-align: center;
    background-color: transparent;
    border: solid 2px #005fad;
    justify-content: center;
    padding: 3%;
    margin: 1%;
    font-size: 1em;
    color: black;
    width: 100%;
    height: 50px;   
    text-align: start;
}
.titles {
    color: white;
    background-color: #004889;
    border-color: #004889;
    padding: 3%;
    border-radius: 5px;
    font-size: 1.5em;
    white-space: nowrap;
    padding-right: 10px;
}
.btn_ {
    padding-top: 3px;
    border-radius: 8px;
    border-color: black;
    border-right: 1px;
    border-top: 1px;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .background_card {
        width: 90%;   
    }
    .items_conteiner {
        font-size: 1.2em;
    }
}

