<app-loading *ngIf="cargando"></app-loading>
<div class="container_">
    <div class="container_body ">
        <div class="background_card">
            <div class="bg">
                <div class="box">
                    <form [formGroup]="registrationForm" action="">
                        <div class="center-colum">
                            <ul class="menu_items">
                                <li class="items_conteiner">Recuperar contraseña</li>
                            </ul>

                            <input formControlName="ide"  pattern="[0-9]{10,13}" class="box-flex" placeholder="Ingrese su número de cédula">

                            <span class="" *ngIf="IsInvalid('ide')">
                                <div class="alert alert-danger">{{'Este campo es numerico y debe contener solo 10 o 13 caracteres '}}</div>
                            </span>
                            <input formControlName="mail" class="box-flex" placeholder="Ingrese correo electrónico">
                            <span class="" *ngIf="IsInvalid('mail')">
                                <div class="alert alert-danger">{{'Este campo es obligatorio'}}</div>
                            </span>
                        

                        <button (click)="forgot()" style="width: 180px;" type="submit" class="btn_">
                            <section class="titles">Enviar</section>
                        </button>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>