<div class="conteiner">
    <div class="title">SOBRE NOSOTROS</div>
    <div class="questions-conteiner">
        <div class="questions-column">
            <div class="question">
                <div class="question-content" (click)="p1=toggleState(p1)">
                    <p>
                        ¿Qué es Financiamiento Colectivo Múltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p1">
                    <div class="answer">
                        Es una plataforma digital que te permite invertir de manera fácil, cómoda y segura en empresas en crecimiento con un crédito previamente evaluado, con cantidades accesibles para los inversionistas (desde USD 500).
                        Nuestro modelo de gestión digital, te permite multiplicar ganancias en la vida de todos, formando un ecosistema de desarrollo en el país.
                    </div>
                </div>
            </div>

            <div class="question">
                <div class="question-content" (click)="p3=toggleState(p3)">
                    <p>
                        ¿Por qué debo invertir en Mùltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p3">
                    <div class="answer">
                        Como inversionista recibirás rendimientos superiores a los de la banca tradicional, desde un 9% a un 14% anual, debido a que eliminamos muchos de los costos, lo cual nos permite ofrecer tasas atractivas. 
                        Mùltiplo es una empresa que busca beneficiar a solicitantes y a inversionistas, cobrando tasas eficientes.
                        También acumulas beneficios en nuestro Multiplolenders Club, donde puedes tener descuentos en nuestras empresas afiliadas.

                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p5=toggleState(p5)">
                    <p>
                        ¿De qué forma gana Mùltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p5">
                    <div class="answer">
                        Mùltiplo gana por las comisiones que cobra a las empresas solicitantes por ser evaluados y por utilizar la plataforma.
                    </div>
                </div>
            </div>
        </div>
        <div class="questions-column">
            <div class="question">
                <div class="question-content" (click)="p2=toggleState(p2)">
                    <p>
                        ¿Cuáles son los pasos para invertir en Multiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p2">
                    <div class="answer">
                        A través de un proceso en línea y seguro, que consta de 4 pasos cortos, podrás comenzar a invertir de manera rápida y sencilla en las distintas empresas solicitantes, denominadas “Oportunidades de Inversión”:
                        <br>1.- Crea tu cuenta asociada a tu correo electrónico.
                        <br>2.- Selecciona la Empresa de tu interés y el monto a invertir, te mostrará una simulación de tu ganancia.
                        <br>3.- Completa tus datos personales para recibir tu fondos y ser un multiplolender calificado, confirmando el monto que inviertes.
                        <br>4.- Haz el depósito y sube el comprobante a la plataforma y en breve (hasta 24hrs) confirmamos tu inversión.

                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p4=toggleState(p4)">
                    <p>
                        ¿Cuáles son los beneficios que APORTA LA SOCIEDAD un Multiplolender?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p4">
                    <div class="answer">
                        Al Ser un Multiplolender:
                        <br>1.- Fomentas nuevas fuentes de empleo, conocerás:  el # de Nuevos Empleos Generados por Año, financiando a empresas en crecimiento.
                        <br>2.- Cuentas con opciones de inversión equilibradas y diversificadas en varios sectores, en empresas nacionales, que mueven la economía local.
                        <br>3.- Promueves la retribución social a través nuestro Programa Anual de empoderamiento financiero y habilidades blandas para jóvenes de escuelas públicas, quienes serán futuros trainees en las empresas afiliadas, insertándolos en la población activa.
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title">SEGURIDAD MÚLTIPLO</div>

    <div class="questions-conteiner">
        <div class="questions-column">
            <div class="question">
                <div class="question-content" (click)="p7=toggleState(p7)">
                    <p>
                        ¿Qué seguridad me da Múltiplo de que se me pagará?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p7">
                    <div class="answer">
                        Mùltiplo sólo selecciona empresas en crecimiento, que hayan pasado nuestros filtros exhaustivos y que tengan la solvencia para hacer frente a su compromiso de pago.  Además, nuestras operaciones tienen alguna garantía otorgada por cada empresa, a favor de los inversionistas como protección en caso de no pago.
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p9=toggleState(p9)">
                    <p>
                        ¿Puedo invertir en varias solicitudes al mismo tiempo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p9">
                    <div class="answer">
                        Sí, puedes invertir en cada una de ellas desde USD 500.
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p11=toggleState(p11)">
                    <p>
                        ¿Mis inversiones tienen algún riesgo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p11">
                    <div class="answer">
                        Todas las inversiones conllevan algún riesgo y Mùltiplo no es responsable de pérdidas. Múltiplo se asegura de minimizar riesgos para ti.
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p13=toggleState(p13)">
                    <p>
                        ¿Bajo qué esquema o regulación opera Mùltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p13">
                    <div class="answer">
                        Mùltiplo es una empresa Fintech (de Servicios Financieros por medios digitales) que opera una plataforma de financiamiento colectivo de deuda de préstamos empresariales, está regulada a través de la Ley Orgánica de Innovación y Emprendimiento (Febrero 2020) y por la Superintendencia de Compañías como ente supervisor.</div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p15=toggleState(p15)">
                    <p>
                        ¿Qué es y por qué debo depositar en una cuenta bancaria indicada? 
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p15">
                    <div class="answer">
                        Por regulación y seguridad de nuestros clientes no recibimos inversiones en cuentas propias, sino exclusivas para “Proyecto Financiado”, todo es vigilado 
                        por un Banco con el que contamos con servicio de recepción de depósitos, el cual permite identificar y gestionar el movimiento del dinero dentro de nuestra plataforma. 
                        En esta misma cuenta se efectuarán los depósitos cuando el solicitante pague y se transfiere a cada inversor su capital e intereses de forma oportuna.
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p17=toggleState(p17)">
                    <p>
                        ¿Se genera algún contrato al momento de invertir?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p17">
                    <div class="answer">
                        Sí, se genera un contrato al momento de acceder a la plataforma y constancias de inversión por cada inversión realizada. Así mismo un título ejecutivo que soporta 
                        la entrega y el retorno de tu capital.</div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p19=toggleState(p19)">
                    <p>
                        ¿En qué solicitudes puedo invertir?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p19">
                    <div class="answer">
                        Únicamente en aquellas solicitudes de financiamiento publicadas que se muestran como “Oportunidades Vigentes”, previo tu registro de cuenta gratis, y hasta que tú como inversionista además tenga 
                        claros los términos de plazo, tasa y monto invertido.</div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p21=toggleState(p21)">
                    <p>
                        ¿Cuándo me pagan los intereses, Múltiplo hace  retenciones, o es mi responsabilidad?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p21">
                    <div class="answer">
                        Múltiplo no hace retenciones de impuestos y es necesario que al final del año revises tus obligaciones tributarias.
                    </div>
                </div>
            </div>
        </div>
        <div class="questions-column">
            <div class="question">
                <div class="question-content" (click)="p6=toggleState(p6)">
                    <p>
                        ¿Mùltiplo me ayuda a cobrar en caso de que no me paguen a tiempo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                <div *ngIf="p6">
                    <div class="answer">
                        Sí. Contamos con un proceso de cobranza que busca recuperar tu inversión, esta incluye cobranza extrajudicial y cobranza judicial. Adicionalmente, los inversionistas en caso de retraso generarán una utilidad por “cargos de mora”.
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p8=toggleState(p8)">
                    <p>
                        ¿Puedo retirar mi dinero?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p8">
                    <div class="answer">
                        Si tu inversión ya fue tomada por el solicitante (Denominado: “Ronda Exitosa”) y no se encuentra en atraso, podrás poner a la venta tu inversión utilizando “Liquidez Mùltiplo” y así recuperar tu capital invertido menos la comisión cobrada por Mùltiplo. De lo contrario deberás esperar a que se pague el crédito, se deposite el capital y los intereses generados de tu inversión menos comisiones en tu cuenta bancaria indicada en perfil Mùltiplo (Esta opción estará disponible desde febrero 2023).
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p10=toggleState(p10)">
                    <p>
                        ¿Cómo se asegura Múltiplo de que una solicitud de financiamiento no es fraudulenta?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p10">
                    <div class="answer">
                        Múltiplo realiza un amplio trabajo de evaluación y validación de las empresas con las que trabajamos, utilizando herramientas propias, visitas insitu, además servicios de terceros tales como Buró de Crédito, Superintendencia de Compañías, SRI, entre otros. 
                        Nunca aprobamos una solicitud que no ha sido verificada, pues velamos por la seguridad de nuestros inversores.
                     </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p12=toggleState(p12)">
                    <p>
                        ¿Una persona jurídica (empresa o asociación) puede invertir?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p12">
                    <div class="answer">
                        Sí, también las empresas pueden ser inversionistas.</div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p16=toggleState(p16)">
                    <p>
                        ¿Es importante leer la información divulgada por Mùltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p16">
                    <div class="answer">
                    Es muy importante leer toda la información proporcionada por Mùltiplo, respecto de cada una de las solicitudes de financiamiento de los solicitantes o proyectos en los que tú como inversionista estés considerando invertir. </div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p18=toggleState(p18)">
                    <p>
                        ¿Qué autoridad regula a Mùltiplo?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p18">
                    <div class="answer">
                        Mùltiplo está regulada a través de la Ley Orgánica de Innovación y Emprendimiento (Febrero 2020) y la autoridad competente es la Superintendencia de Compañías.</div>
                </div>
            </div>
            <div class="question">
                <div class="question-content" (click)="p20=toggleState(p20)">
                    <p>
                        ¿Se me entregan facturas por las comisiones?
                    </p>
                    <img class="ico-size" src="/assets/images/iconos/vermasico.png" alt="">
                </div>
                
                <div *ngIf="p20">
                    <div class="answer">
                        Múltiplo te entregará factura de cualquier comisión cobrada dentro de la plataforma.
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    <div style="cursor: pointer;">
        <div style="width: auto;
        text-align: center; margin-bottom: 6%;" class="title ">¿TIENES MÁS DUDAS?</div>
        <div style="color: #0d6efd;
        text-decoration: underline;" class="meet"  (click)="agendarReunion()">(CLICK PARA AGENDAR REUNIÓN)</div>
    </div>
</div>