<!-- <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 iasblw" 
style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
    <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 iasblw" 
                style=" vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                <tbody>
                    <tr>
                        <td width="150" style="vertical-align: middle;">
                            <span class="template3__ImageContainer-sc-vj949k-0 iAZHDN" 
                            style="margin-right: 20px; display: block;">
                            <img src="https://drive.google.com/uc?id=1WkEldoCYWbRbhwmP9WEbbEEpyOnjs8ls" 
                            role="presentation" width="130" class="image__StyledImage-sc-hupvqm-0 eLouvR" 
                            style="max-width: 130px;">
                        </span>
                    </td>
                    <td style="vertical-align: middle;vertical-align: middle;
                   
                    flex-direction: column;
                    justify-content: center;
                    gap: 16px;
                    margin-top: 13%;">
                        <h2 color="#000000" class="name__NameContainer-sc-1m457h3-0 jCjfGD" 
                        style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0); font-weight: 600;">
                        <span>Yalina </span>
                        <span>&nbsp;</span>
                        <span>Mora </span>
                        </h2>
                        <br>
                        <p color="#000000" font-size="medium" 
                        class="job-title__Container-sc-1hmtp73-0 ibpiyI"
                        style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px; font-weight: 600;">
                        <span>C.E.O. - CO FUNDADORA</span></p>
                        <br>
                        <br>
                        <p color="#000000" font-size="medium" 
                        class="company-details__CompanyContainer-sc-j5pyy8-0 haLCeu" 
                        style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                        <img src="https://multiplolenders.com/assets/images/landing2/movil/logo.png"
                        role="presentation" width="130" 
                        class="image__StyledImage-sc-hupvqm-0 eLouvR" 
                        style="display: inline-block; max-width: 130px;">
                        </p>
                    </td>
                    <td width="30">
                        <div style="width: 30px;">
                        </div>
                    </td>
                    <td color="#ff9200" direction="vertical" 
                        width="1" height="auto" class="color-divider__Divider-sc-1h38qjv-0 dVPycS" 
                        style="width: 1px; border-bottom: none; border-left: 1px solid #1225aa;">
                    </td>
                    <td width="30">
                        <div style="width: 30px;">
                        </div>
                    </td>
                    <td style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 iasblw" 
                        style=" border-collapse: separate;border-spacing: 0em .8em;vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                        <tbody>
                            <tr height="25" style="vertical-align: middle;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" 
                                    class="table__StyledTable-sc-1avdl6r-0 iasblw" 
                                    style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;">
                                                <span color="#ff9200" width="11" 
                                                class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC" 
                                                style="display: inline-block; background-color: #1225aa;">
                                                <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" 
                                                    color="#ff9200" alt="mobilePhone" width="13" 
                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte" 
                                                    style="display: block; background-color: #1225aa;">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding: 0px; color: rgb(0, 0, 0);">
                                <a href="tel:+(593) 987330724 " color="#000000" 
                                    class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg"
                                    style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                                    <span>+(593) 987330724</span>
                                </a>
                            </td>
                        </tr>
                        <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                                <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 iasblw"
                                    style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;">
                                                <span color="#ff9200" width="11" 
                                                class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC" 
                                                style="display: inline-block; background-color: #1225aa;">
                                                <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#ff9200" alt="emailAddress" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte" style="display: block; background-color: #1225aa;">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </td>
                            <td style="padding: 0px;">
                                <a href="mailto:yalinamc@multiplolenders.com" color="#000000" 
                                    class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg" 
                                    style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                                    <span>yalinamc@multiplolenders.com</span>
                                </a>
                            </td>
                        </tr>
                        <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                                <table cellpadding="0" cellspacing="0" 
                                class="table__StyledTable-sc-1avdl6r-0 iasblw" 
                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align: bottom;">
                                            <span color="#ff9200" width="11" 
                                            class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC" 
                                            style="display: inline-block; background-color: #1225aa;">
                                            <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" 
                                            color="#ff9200" alt="website" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte" 
                                            style="display: block; background-color: #1225aa;">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding: 0px;">
                        <a href="https://multiplolenders.com/" color="#000000" 
                        class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg" 
                        style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                        <span>https://multiplolenders.com/</span>
                    </a>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <a href="https://www.youtube.com/channel/UCbvUsW3-LoEXANcFhOlGv_A/featured" 
                    color="#1b40d3" class="social-links__LinkAnchor-sc-py8uhj-2 kyynGZ"
                    style="display: inline-block; padding: 0px; background-color: rgb(27, 64, 211);">
                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png" 
                    alt="facebook" color="#1b40d3" height="24" class="social-links__LinkImage-sc-py8uhj-1 cKHJaU" 
                    style="background-color: rgb(27, 64, 211); max-width: 135px; display: block;">
                    </a>
                </td>
               
                <td>
                    <a href="https://www.linkedin.com/company/multiplolenders" color="#1b40d3"
                    class="social-links__LinkAnchor-sc-py8uhj-2 kyynGZ" 
                    style="display: inline-block; padding: 0px; background-color: rgb(27, 64, 211);">
                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png" 
                    alt="linkedin" color="#1b40d3" height="24" class="social-links__LinkImage-sc-py8uhj-1 cKHJaU" 
                    style="background-color: rgb(27, 64, 211); max-width: 135px; display: block;">
                    </a>
                </td>
             
                <td>
                    <a href="https://www.instagram.com/multiplo_lenders/" color="#1b40d3" 
                    class="social-links__LinkAnchor-sc-py8uhj-2 kyynGZ"
                    style="display: inline-block; padding: 0px; background-color: rgb(27, 64, 211);">
                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png" 
                    alt="instagram" color="#1b40d3" height="24" class="social-links__LinkImage-sc-py8uhj-1 cKHJaU" 
                    style="background-color: rgb(27, 64, 211); max-width: 135px; display: block;">
                    </a>
                </td>
                
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td></tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 iasblw" 
            style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
            <tbody>
                <tr>
                    <td height="20">

                    </td>
                </tr>
                <tr>
                    <td color="#ff9200" direction="horizontal" width="auto" height="1" 
                    class="color-divider__Divider-sc-1h38qjv-0 dVPycS" 
                    style="width: 100%; border-bottom: 1px solid #1225aa; border-left: none; display: block;">
                </td>
            </tr>
            <tr>
                <td height="20">

                </td>
                <td>
                    <p style="font-size: 9.0pt;
                    font-family:Arial,sans-serif;
                    color: #ea6126;
                    background: white;    
                    display: flex;
                    justify-content: center;">LÍDERES DE INVERSIONES EN FINANCIAMIENTO</p>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    
    </tbody>
</table>

<p style="    text-align: justify;
font-size: 0.8em;
color: #1225aa;
width: 562px;">
La información contenida en este correo electrónico (texto, adjuntos, anexos, etc.) es confidencial, reservada y legalmente protegida, sólo puede ser utilizada por la persona o la Institución a la cual está dirigido. Cualquier divulgación, retención, difusión, distribución, alteración, copia o la toma de cualquier acción basada en la información aquí contenida está prohibido. Si Ud. recibió este mensaje por error, notifique al Administrador o a quien le envió inmediatamente, elimínelo sin hacer copias. MÚLTIPLO no asume responsabilidad sobre información, opiniones o criterios contenidos en este correo electrónico que no esté relacionada con negocios oficiales.
<br>
<br>
Notice of confidentiality. 
<br>
The information contained in this email (text, attachments, files, etc.) is confidential, reserved and legally protected, it can only be used by the person or the Institution to which it is addressed. Any disclosure, retention, dissemination, distribution, alteration, copying or taking any action based on the information contained here is prohibited. If you received this message by mistake, notify the Administrator or whoever it was sent to immediately, delete it without making copies. MULTIPLO does not assume responsibility for information, opinions or criteria contained in this email that is not related to official business.
</p> -->
