<div class="body">
    <div class="container_">
         <!-- <app-menu-conteiner></app-menu-conteiner> -->
        <div class="container_body">         
          <app-charts-investor-deposit></app-charts-investor-deposit>
        <!-- primera cartilla -->
            <div class="d-flex card_flex">
                  <div class="d-flex justify-content-center flex-wrap max-width" *ngIf="!!projects">
                    <div class="card_conteiner " [ngClass]=" project.estado=='AVANCE' ? 'right' : 'left'" *ngFor="let project of projects.slice(0, 6);">
                      <div class="img_contenier">
                        <img [src]="filtrarRutas(project.proyectoRutas)" class="imagen-proyect" alt="" loading="lazy">
                      </div>

                      <!-- Corazon con css para likes  -->

                      <!-- <div class="like" (click)="open=toggleState(open)" >
                        <div class="corazon"  [ngClass]="!open?'clicked':'corazon'" ></div>
                      </div> -->

                      <div class="text_conteiner">
              
                        <div class="title-content" style="flex-basis: 25%;">
                          <div class="row_card_conteiner">
                            <div class="column_card title-proyect" style="align-items: center;">
                            <span>{{project.empresa.nombre}}</span>
                          </div>
                        </div>
              
                        <div class="row_card_conteiner">
                          <div class="progress" >
                            <div class="progressbarWrapper">
                              <span class="yellowBar" [ngClass]="convert((project.avanceInversion*100)/project.montoSolicitado) >=100?'suceessBar':'yellowBar'" [ngStyle]="{'width':convert((project.avanceInversion*100)/project.montoSolicitado)>=100? 100 :convert((project.avanceInversion*100)/project.montoSolicitado)+ '%'}" ></span>
                              <div class="percent" [ngStyle]="{'color': convert((project.avanceInversion*100)/project.montoSolicitado)>=50?'#fff':'#1225aa'}"> <p *ngIf="convert((project.avanceInversion*100)/project.montoSolicitado)>=100">EXITOSO &nbsp;</p> {{(project.avanceInversion*100)/project.montoSolicitado | number:'2.2-2'}}%</div>
                          </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="description_conteiner">
                        <div class="row_card_conteiner">
                           <div class="column_card marginbuttom">
                            <span class="titulo_card">SECTOR</span>
                            <span class="text_card">{{project.empresa.nombreActividad}}</span>
                          </div>
                        </div>
              
                        <div class="row_card">
                          <div class="column_card">
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">MONTO</span>
                                <span class="text_card" style="font-size: 1.2em;">{{'$'+project.montoSolicitado}}</span>
                              </div>
                              
                            </div>
              
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">PAÍS</span>
                                <span class="text_card">{{project.empresa.pais.pais}}</span>
                              </div>
                            </div>
                            
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">DESTINO</span>
                                <span class="text_card">{{project.destinoFinanciamiento}}</span>
                              </div>
                            </div>
                          </div>
              
                          <div class="column_card mrgend">
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">TASA</span>
                                <span class="text_card" style="font-size: 1.2em;">{{project.tasaEfectivaAnual+'%'}}</span>
                              </div>
                            </div>
              
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">PLAZO</span>
                                <span class="text_card">{{project.plazo}} meses</span>
                              </div>
                            </div>
                            
                            <div class="row_card mrgtop">
                              <div class="column_card marginbuttom">
                                <span class="titulo_card">FRECUENCIA</span>
                                <span class="text_card">{{project.pagoInteres}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="btn_conteiner" style="flex-basis: 50%;">
                        <div class="row_">
                            <div class="column_">
                              <div *ngIf="project.estado=='AVANCE'||project.estado==null" class="btn-container">
                                <div class="btn-orange" (click)="set_data('proyecto',project.codigoOperacion,project.empresa.idEmpresa)"> 
                                  <a  >INVERTIR</a>
                              </div>
                              </div>
              
                              <div *ngIf="project.avanceInversion.porcentaje>=100"class="btn-container" >
                                
                              </div>    
                        
                                  <div class="btn-container">
                                    <div class="btn-yellow" (click)="handleViewMore(project)" *ngIf="project.empresa.nombre!='MEGATOURS'&& project.empresa.nombre!='GYPCONSTRU' "   > 
                                      <a >EXPLORAR MÁS</a>
                                  </div>
                                  </div>
                                  <div class="btn-container">
                                    <div class="btn-yellow" (click)="goto_notify()" *ngIf="(project.empresa.nombre=='MEGATOURS'&& project.empresa.nombre=='GYPCONSTRU')||project.estado!='AVANCE'"   > 
                                      <a >RECIBIR NOTIFICACIONES</a>
                                  </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>

    </div>
  </div>
</div>