

<div class="aboutUs-conteiner" >

  <div class="title-aboutus"> 
    <section> ¿Quiénes somos ?</section>
  </div>

  <div>
    <p class="text-conteiner"> <b>Somos la plaforma líder </b> 
      de financiamiento colectivo</p>
  </div>

  <div class="content-video">
    <div class="video-container">
      <!-- <div class="ratio ratio-16x9">
          <iframe class="video-desktop" src="https://www.youtube.com/embed/ZNMRxPN2_OU"
            title="YouTube video player" frameborder="0" autoplay  SameSite=Lax
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
      </div> -->
      <div class="steps-content pc">
        <div class="steps">
          <div style="color: #ff5f00;"><b>1.</b> </div>
          <div class="font-steps"> <b> Evaluamos solicitudes
            de Financiamiento</b> <br>
            de empresas con trayectoria
            suficiente, que cuenten con
            desempeño y solvencia adecuada.</div>
        </div>
        <div>
          <div class="steps">
            <div style="color: #ff5f00;"><b>2.</b> </div>
            <div class="font-steps" > <b> Publicamos
              oportunidades aprobadas</b> <br>
              para que nuestros inversionistas
              se registren y seleccionen su inversión.</div>
          </div>

          <div class="steps">
            <div style="color: #ff5f00;"><b>3.</b> </div>
            <div class="font-steps"> <b> Recibes un retorno </b> <br>
              Invierte con un retorno de 9 al 13%,
              con un plazo indicado para el reembolso 
              de tu capital</div>
           
          </div>
        </div>
      </div>

    </div>

    

    <div class="supported">
      
      <div class="steps-content mobile">
        <div class="steps">
          <div style="color: #ff5f00;"><b>1.</b> </div>
          <div class="font-steps"> <b> Evaluamos solicitudes
            de Financiamiento</b> <br> 
            de empresas con trayectoria
            suficiente, que cuenten con
            desempeño y solvencia adecuada.</div>
        </div>
        <div>
          <div class="steps">
            <div style="color: #ff5f00;"><b>2.</b> </div>
            <div class="font-steps" > <b> Publicamos
              oportunidades aprobadas</b> <br>
              para que nuestros inversionistas
              se registren y seleccionen su inversión.</div>
          </div>

          <div class="steps">
            <div style="color: #ff5f00;"><b>3.</b> </div>
            <div class="font-steps"> <b> Recibes un retorno </b> <br>
              Invierte con un retorno de 9 al 13%,
              con un plazo indicado para el reembolso 
              de tu capital</div>
           
          </div>
        </div>
      </div>
    </div>

   

  </div>  




</div>










