<div style="padding-top: 110px; background: #d4d4d4;" class="body">

    <div class="bannerTop">
        TUTORIAL DE INVERSIÓN
    </div>

    <!-- <div class="banner_investor background-title" >
        <div class="banner_content">
            <div class="title-text">
                ¿Quiéres empezar a invertir? <br> Te mostramos como hacerlo
            </div>
            <div>
                 <img src="/assets/images/landing2/pc/tutorial_inversion.jpg" style="width: 250px;" alt="">
            </div>
        </div>
    </div> -->
    <div class="banner_column">

        <table class="table-content">
            <tr>
                <td>
                    <div class="img-tutorial odd-scale">
                        <div class="" >
                            <img src="/assets/images/landing2/pc/1.gif" class="imgclass" alt="">
                       </div>
                       <div class="cont  display_mobile">
                            <div class="number">
                                1 
                            </div>
                            <span class="text-tutorial table-data ">
                                Ingresa a nuestra página web y <b>crea tu cuenta</b> 
                            </span>
                        </div>
                    </div>
                </td>
                <td class="display_pc">
                    <div class="cont">
                        <div class="number">
                            1 
                        </div>
                        <div class="text-tutorial table-data" >
                              Ingresa a nuestra página web y <b>crea tu cuenta</b> 
                        </div>
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td class="display_pc"> 
                    <div class="cont">
                        <div class="number">
                            2 
                          </div>
                        <div class="text-tutorial table-data ">
                              <b>Selecciona la empresa</b> en la que quieras invertir
                        </div>
                    </div>
                    
                </td>
                <td> 
                    <div class="img-tutorial pair-scale">
                        <div class="">
                            <img src="/assets/images/landing2/pc/2.gif" class="imgclass" alt="">
                        </div>
                        <div class="cont  display_mobile">
                            <div class="number">
                                2 
                              </div>
                            <div class="text-tutorial table-data ">
                                <b>Selecciona la empresa</b> en la que quieras invertir
                            </div>
                        </div>
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td> 
                    <div class="img-tutorial odd-scale" >
                        <div class=" ">
                            <img src="/assets/images/landing2/pc/3.gif" class="imgclass" alt="">
                        </div>
                        <div class="cont  display_mobile">
                            <div class="number">
                                3 
                              </div>  
                            <div class="text-tutorial table-data ">
                               <b>Indica el monto a invertir</b> y calcula tu ganancia
                            </div>
                        </div>
                    </div>
                </td>
                <td class="display_pc"> 
                    <div class="cont">
                        <div class="number">
                            3 
                          </div>
                        <div class="text-tutorial table-data ">
                            <b>Indica el monto a invertir</b> y calcula tu ganancia
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="display_pc">
                    <div class="cont">
                        <div class="number">
                            4 
                          </div>
                        <div class="text-tutorial table-data ">
                            <b>Deposita el monto invertido</b> y confirmaremos tu inversión
                        </div>
                    </div>
                    </td>
                <td>
                    <div class="img-tutorial pair-scale">
                        <div class=" " >
                            <img src="/assets/images/landing2/pc/4.gif" class="imgclass" alt="">
                       </div>
                       <div class="cont display_mobile">
                        <div class="number">
                            4 
                          </div>
                            <div class="text-tutorial table-data " >
                                <b>Deposita el monto invertido</b> y confirmaremos tu inversión
                            </div>
                        </div>
                    </div>
                    
                </td>
            </tr>
        </table>
      
    </div>
</div>
