<div class="howWeDid" >

    <div class="title-aboutus "> 
      <section > ¿Cómo lo logramos?</section>
    </div>

  <div class="elements_column" >
    <!-- class="boxshadow" -->
    <div class="content-how">
      <div class="content_ico">
        <div class="justifycontent"> 
          <img class="imgico" src="assets/images/landing2/movil/ico1.png"  alt="">
        </div>
        <div class="txthowTo">
          <p><b>Desintermediamos</b> a los
            participantes bancarios
            tradicionales.</p>
        </div>
      </div>


     <div class="content_ico">
        <div class="justifycontent"> 
          <img class="imgico" src="assets/images/landing2/movil/ico2.png"  alt="">
        </div>
        <div class="txthowTo">
          <p>Con <b>oportunidades</b>  de inversión 
            transparentes, ágiles y 
            flexibles.</p>
        </div>
      </div>

      <div class="content_ico">
        <div class="justifycontent"> 
          <img class="imgico" src="assets/images/landing2/movil/ico3.png"  alt="">
        </div>
        <div class="txthowTo">
          <p>Con carteras de inversión diversificadas y
            con <b>rentabilidad superior</b> .</p>
        </div>
      </div>
    </div>

    <div class="content-how">
      
      <div class="content_ico">
        <div class="justifycontent"> 
          <img class="imgico" src="assets/images/landing2/movil/ico4.png"  alt="">
        </div>
        <div class="txthowTo">
          <p>Retribuimos a la sociedad
            con programas de
            empoderamiento financiero y <b>entrenamiento para jóvenes.</b>  </p>
        </div>
      </div>
      
      <div class="content_ico">
        <div class="justifycontent"> 
          <img class="imgico" src="assets/images/landing2/movil/ico5.png"  alt="">
        </div>
        <div class="txthowTo">
          <p>Nuestros objetivos de gestión 
            incluyen el número de <b>empleos 
              generados</b>  por año, financiando 
            a empresas en crecimiento con 
           <b>liquidez eficiente.</b></p>
        </div>
      </div>
    </div>

  </div>


  <!-- <div class="reg-element" id="choise-oportunity"> 
    <div class="btn-orange" [routerLink]="'/register/choice'">
      <a>
        REGÍSTRATE
     </a>
  </div>
  </div> -->

</div>
