<app-loading *ngIf="cargando"></app-loading>
<div class="container_">
    <div class="container_body ">
        <div *ngIf="validacion" class="background_card">
            <div class="bg">
                <div class="box">
                    <form [formGroup]="registrationForm" action="">
                        <div class="center-colum">
                            <ul class="menu_items">
                                <li class="items_conteiner">Cambiar contraseña</li>
                            </ul>
                            <div style="display: flex; flex-direction: row; width: 100%;">
                                <input [attr.type]="tipo" formControlName="pass"  placeholder="Ingresa tu nueva contraseña" class="box-flex">
                                <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarPassword()"> <span [class]="pass_show"></span> </button>
                            </div>       
                            <p class="alert-info">Debe tener entre 6 y 12 caracteres, al menos 1 letra mayúscula, almenos 1 número y un símbolo (*, +, $, ¡, @, -, _, .).</p>
                            <span class="" *ngIf="IsInvalid('pass')">
                                <div class="alert alert-danger">{{'Este campo es obligatorio '}}</div>
                            </span>
                            <div style="display: flex; flex-direction: row; width: 100%;">
                                <input [attr.type]="tipo" formControlName="conf" placeholder="Confirma tu nueva contraseña"  class="box-flex">
                                <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarPassword()"> <span [class]="pass_show"></span> </button>
                            </div>
                            <span class="" *ngIf="IsInvalid('conf')">
                              
                                <div class="alert alert-danger" *ngIf="conf?.errors?.['matching']">Las contraseñas deben coincidir</div>
                            </span>

                        

                        <button (click)="cambiarContrasenia()" style="width: 180px;" type="submit" class="btn_">
                            <section class="titles">Cambiar</section>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="validacion==false">
            <div class="bg">
                <div class="box">

                    <div class="container_body ">
                        <ul class="menu_items">
                            <li class="items_conteiner">Sesion caducada</li>
                        </ul>


                    </div>

                </div>
            </div>

        </div>

    </div>

</div>