<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4420">
    <div class="carousel-indicators "  style="top: 151px;
    height: 50%;
    margin-right: 0%;
    margin-bottom: 1rem;
    margin-left: 0%;" >
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <div class="carousel-inner content-carousel">
        <div class="carousel-item active background-img" style="margin-right: 0px;">
            <!-- <img src="/assets/images/landing2/pc/homeback2.webp" alt=""> -->
           <div class="img-banner">
            El crowdfunding Deportivo permite que todos podamos contribuir con los atletas de nuestro país
           </div>

        </div>
        <div class="carousel-item background-img2 " style="margin-right: 0px;">
            <div class="img-banner">
                Estos auspicios hacen posible que los deportistas cuenten con los recursos para sobresalir en su disciplina elegida.
               </div>
        </div>
      </div>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="elements-below">

        <div class="title-oportunity" 
            ngbTooltip="Promueven el desempeño profesional de nuestros jovenes talentos">
            <section>AUSPICIOS DEPORTIVOS</section> 
        </div>


        <div class="elements-conteniners" id="aboutUs">
          <div class="text-conteiner"> Conoce nuestras Oportunidades vigentes en Múltiplo, para apoyar HOY  a Deportistas destacados con futuro brillante
          </div>  
          <!-- <div class="btn-orange" [routerLink]="'/contact'" > <a > EMPIEZA TU PATROCINIO </a>  </div> -->
        </div> 

    
      </div>
    

    <button class="carousel-control-prev" style="width: 6% !important; z-index: 2;"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="width: 6% !important; z-index: 2;"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>