.body{
    padding-top: 110px;
}
.container_body {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container_ {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.status_cards{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    margin-top: 3%;
    flex-wrap: wrap;
}
.items_start{
    align-items: flex-start;
}
.items_end{
    align-items: flex-end;
}

.blue_card{
    background: url('/assets/images/investor/status_card_blue.png');
    background-size: 100% 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 270px;
    height: 125px;
    margin-left: 5px;
    margin-top: 35px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
}

.orange_card{
    background: url('/assets/images/investor/status_card_orange.png');
    background-size: 100% 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 270px;
    height: 125px;
    margin-left: 5px;
    margin-top: 35px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
}

.link_elements_card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 2%;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.columna{
    display: flex;
    flex-direction: column;
}

.ico_card{
    margin-right: 15px;
}
.opt_menu{
    display: flex;
    flex-grow: 1;
}
.txt_card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
}
.txt_sol{
    display: flex;
    font-size: 1.1em;
    padding-top: 10%;
}
.num_sol{
    font-size: 1.7em;
}
@media (max-width: 1700px) {
    
    /* statuscard component */
    .status_cards{
        font-size: 0.8em;
        flex-wrap: wrap;
    }
    .blue_card{
        margin: 1%;
        flex-basis: 207px;
    }
    .orange_card{
        margin: 1%;
        flex-basis: 207px;
    }
}
