<div class="cardElement">
    <ng-template matStepLabel>
        Verfica tus datos
    </ng-template>

      <div style="display: flex;
      flex-direction: column;
      align-items: center;">

     
    <div class="content-card" *ngIf="!!Beneficiary &&showCard">
      <div class="card_conteiner right" >
        <div class="img_contenier" *ngIf="!!Beneficiary.beneficiario"> 
          <img [attr.src]="Beneficiary.beneficiario.ruta1" lass="imagen-proyect" alt="" loading="lazy" style="width: 100%;
          height: 100%;">
        </div>
        <div class="text_conteiner">

          <div class="title-content" style="flex-basis: 25%;" *ngIf="!!Beneficiary.persona">
            <div class="row_card_conteiner" >
              <div class="column_card title-proyect" style="align-items: center; text-align: center;">
              <span *ngIf="Beneficiary.persona.nombre!=''&&Beneficiary.persona.tipoPersona!='JUR' "> 
                  {{Beneficiary.persona.nombres}} <br> {{Beneficiary.persona.apellidos}}</span>
              <span *ngIf="Beneficiary.persona.razonSocial!='' &&Beneficiary.persona.tipoPersona!='NAT' "> 
                {{Beneficiary.persona.razonSocial}} </span>
              </div>
            </div>
          </div>

          <div class="row_card_conteiner">
            <div class="progress" >
              <div class="progressbarWrapper">
                <span class="yellowBar" [ngClass]="porcenatjeprueba >=100?'suceessBar':'yellowBar'" [ngStyle]="{'width':porcenatjeprueba >=100?100:porcenatjeprueba+ '%'}" ></span>
                <div class="percent" [ngStyle]="{'color': porcenatjeprueba>=50?'#fff':'#1225aa'}"> <p *ngIf="porcenatjeprueba>=100">EXITOSO &nbsp;</p> {{porcenatjeprueba}}%</div>
              </div>
            </div>
          </div>
        

        <div class="description_conteiner">
          <div class="row_card_conteiner">
             <div class="column_card marginbuttom" style="align-items: center;">
              <div style="display: flex; justify-content:center; flex-direction:column; font-size: 1.5em;" >
                <span class="titulo_card" style="display: flex; justify-content: center;">Disciplina</span>
                <span *ngIf="Beneficiary.beneficiario.disciplina&&Beneficiary.beneficiario.categoria" class="text_card"> {{Beneficiary.beneficiario.disciplina}} / {{Beneficiary.beneficiario.categoria}}</span>
              </div>
            </div>
          </div>

          <div class="row_card">
            <div class="column_card">
              <div class="row_card mrgtop">
                <div class="column_card marginbuttom" >
                  <span class="titulo_card">Ranking
                  </span>
                  <ul class="text_card" style="font-size: 1em; margin: 0;
                 padding: 0 0 0 15px;">
                    <li *ngIf="!!words2[0] && !!words2[0].internacional ">{{words2[0].internacional | slice:0:35}}</li>
                    <li *ngIf="!!words2[0] && !!words2[0].nacional">{{words2[0].nacional  | slice:0:35}}</li>
                    <li *ngIf="!!words2[0] && !!words2[0].otros ">{{words2[0].otros  | slice:0:35}}</li>
                    <li *ngIf="!!words2[1] && !!words2[1].internacional ">{{words2[1].internacional  | slice:0:35}}</li>
                    <li *ngIf="!!words2[1] && !!words2[1].nacional">{{words2[1].nacional  | slice:0:35}}</li>
                    <li *ngIf="!!words2[1] && !!words2[1].otros ">{{words2[1].otros  | slice:0:35}}</li>
                    <li *ngIf="!!words2[2] && !!words2[2].internacional ">{{words2[2].internacional  | slice:0:35}}</li>
                    <li *ngIf="!!words2[2] && !!words2[2].nacional">{{words2[2].nacional  | slice:0:35}}</li>
                    <li *ngIf="!!words2[2] && !!words2[2].otros ">{{words2[2].otros  | slice:0:35}}</li>
                  </ul>
                  <span class="text_card" style="font-size: 1.2em;"></span>
                </div>
                
              </div>

             
            </div>

            <div class="column_card mrgend" style="flex-basis: 85%;" *ngIf="!!Beneficiary.persona">
              <div class="row_card mrgtop">
                <div class="column_card marginbuttom" >
                  <span class="titulo_card">PAÍS</span>
                  <span  class="text_card">{{getPais(Beneficiary.persona.nacionalidad)}}</span>
                </div>
              </div>
              
              <div class="row_card mrgtop" >
                <div class="column_card marginbuttom">
                  <span class="titulo_card">Monto solicitado </span>
                  <span class="text_card">{{Beneficiary.auspicio.montoSolicitado|currency}}</span>
                  
                </div>
              </div>
              <div class="row_card mrgtop">
                <div class="column_card marginbuttom">
                  <span class="titulo_card">Monto recaudado </span>
                  <span class="text_card">$00.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="btn_conteiner" style="flex-basis: 50%;">
          <div class="row_">
              <div class="column_">
                    <div class="btn-container">
                      <div class="btn-blue" (click)="editarAuspicios()"  style="font-size: 0.7em;"> 
                        <a>VER DATOS</a>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
      </div>
    </div>
</div>
<div class="title-sponsor" > 
    <a >AUSPICIOS POR CONFIRMAR</a>
  </div>
<form [formGroup]="registrationForm" >

    <div class="row_">
        <div>
            <table style="border-collapse: collapse;
            border-radius: 25px;">
                <div (click)="isOpenConsulta=toggleState(isOpenConsulta)"
                    style="text-align: left; width: 100%; margin-bottom: 5px; cursor: pointer;">
                    <section class="titles ico_style2">Filtros de consulta <span style="font-size: 10px;">▼</span></section>
                </div>
                <div *ngIf="isOpenConsulta;else close">
                </div>
                <ng-template #close>
                    <tr>
                        <th class="theader ">Numero de Auspicio:</th>
                        <input formControlName="numeroAuspicio" class="box-style" (blur)="clickObtenerDatos()">
                    </tr>
                    <!-- <tr>
                        <th class="theader ">Nombre Apellidos:</th>
                        <input formControlName="nomApe" class="box-style">
                    </tr> -->
                    <tr>
                        <th class="theader ">Cédula:</th>
                        <input (blur)="clickObtenerDatos()" formControlName="identificacion" class="box-style">
                    </tr>
                    <tr>
                        <th class="theader ">Disciplina:</th>
                        <ng-select class="box-style" style="padding: 0; height: fit-content;" (blur)="clickObtenerDatos()"
                        [items]="disciplinas" [ngModelOptions]="{standalone: true}"
                        [multiple]="false"
                        bindLabel="nombre"
                        groupBy="todos"
                        [selectableGroup]="true"
                        [selectableGroupAsModel]="true"
                        [closeOnSelect]="true"
                        bindValue="id"
                        placeholder="Seleccione la disciplina"
                        [(ngModel)]="disciplina">
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index" >
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.nombre}} 
                </ng-template>
              </ng-select>
                    </tr>
                    <tr>
                        <th class="theader ">Auspicios por confirmar:</th>
                        <input [value]="contadorAuspicios" class="box-style" readonly>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>

    <div style="margin-top: 5px; text-align: center; width: 100%; display: flex;
    justify-content: center; ">
        <button type="submit" (click)="clickObtenerDatos()" style="width: 180px;" class="btn-blue">
            <a class="titlesorange ico_style2">Consultar</a>
        </button>
    </div>

</form>

<div class="scrollbar_">
    <table id="season-tble">
        <thead>
            <th>
                <section class="theader-flex">Auspicio</section>
            </th>
            <th>
                <section class="theader-flex">Nombres</section>
            </th>
            <th>
                <section class="theader-flex">Disciplina</section>
            </th>
            <th>
                <section class="theader-flex">Inversión solicitada</section>
            </th>
            <th>
                <section class="theader-flex">Estado</section>
            </th>
        </thead>

        <tr *ngFor="let datos of Beneficiarys ; let i = index">
            <td class=" ">
                <section class="box-flex" > 
                    <a>
                        <a>{{datos.auspicio.numeroAuspicio }}  <input type="radio" name="auspicios" style="margin-left: 3%;" 
                            (click)="ObtenerData(datos.auspicio.numeroAuspicio)"></a>  
                        
                    </a> 
                </section>
                      
            </td>
            <td class=" ">
                <section  class="box-flex" *ngIf="datos.persona.razonSocial!='' &&datos.persona.tipoPersona!='NAT' "> 
                {{datos.persona.razonSocial}}</section>
                <section *ngIf="datos.persona.nombre!=''&&datos.persona.tipoPersona!='JUR' " class="box-flex"> {{datos.persona.nombres}} {{datos.persona.apellidos}}</section>
            </td>
            <td class=" ">
                <section style="display: flex; justify-content:center;" class="box-flex"><div >{{datos.beneficiario.disciplina}}</div></section>
            </td>
            <td class=" ">
                <section class="box-flex" style="display: flex ;flex-direction:row;">
                    <section style="width: 100%;">
                        {{datos.auspicio.montoSolicitado|currency}}
                    </section>
                </section>
            </td>
            <td class=" ">
                <section class="box-flex">{{datos.auspicio.estado}}</section>
            </td>
            <td style=" width: 50%;">
                <!-- <img (click)="actualizarTransaccion(datos.numeroSolicitud,numCom.value,fecha.value,monto.value)" class="ico_style" style="width: 40px;"
                matTooltipPosition="above" matTooltip="Actualizar los cambios" src="/assets/images/shared/modificar.png" alt=""> -->
            </td>

        </tr>
    </table>
</div>