<app-loading *ngIf="cargando"></app-loading>
<div class="body ">


    <div class="container_">

        <div class="top">
            <app-menu-manager></app-menu-manager>
        </div>

        <div class="container_body">
            <ul class="menu_items">
                <li class="items_conteiner"><img class="ico_menu" src="/assets/images/investor/icoconf.png"
                        alt="">Inversiones En Tránsito</li>
            </ul>
            <div class="background_card">
                <div class="bg">
                    <div class="box">

                        <form [formGroup]="registrationForm" (submit)="consultar()">
                            <div class="">
                                <div>
                                    <table style="margin: auto ;">
                                        <div (click)="isOpenConsulta=toggleState(isOpenConsulta)" style="text-align: left; width: 100%; margin-bottom: 5px; cursor: pointer;">
                                            <section class="titles" style="font-size: 1.5em; display: flex;">Filtros de consulta <span style="font-size: 10px;">&nbsp; ▼</span></section>
                                        </div>
                                            <div *ngIf="isOpenConsulta;else close">
                                            </div>
                                            <ng-template #close>
                                            <tr>
                                                <th>
                                                    <section class="theader "> Nombre de Empresa:</section>
                                                </th>
                                                <select class="box-style" id="codProyecto" name="codProyecto"
                                                    formControlName="codProyecto">
                                                    <option value=null>TODOS</option>
                                                    <option *ngFor="let item of empresas" [value]="item.codProyecto">
                                                        {{item.nombreEmpresa}}
                                                    </option>
                                                </select>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <section class="theader ">Calificación de Riesgo:</section>
                                                </th>
                                                <select class="box-style" id="riesgos" name="riesgos"
                                                    formControlName="riesgos">

                                                    <option value=null> TODOS</option>
                                                    <option *ngFor="let item of calificaciones"
                                                        [value]="item.idTipoCalificacion">{{item.nombre}}
                                                    </option>
                                                </select>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <section class="theader ">Sector:</section>
                                                </th>
                                                <select class="box-style" id="sectors" name="sectors"
                                                    formControlName="sectors">

                                                    <option value=null>TODOS</option>
                                                    <option *ngFor="let item of sectores" [value]="item.idActividad">
                                                        {{item.nombre}}
                                                    </option>
                                                </select>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <section class="theader ">Estado:</section>
                                                </th>
                                                <td>
                                                    <section class="box-style">EN TRÁNSITO</section>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>

                            <div style="margin-top: 5px; text-align: center; width: 100%; ">
                                <button type="submit" style="width: 180px;" class="btn_" (click)="consultar()">
                                    <section class="titlesorange btn_style">Consultar</section>
                                </button>
                            </div>

                        </form>
                        <div style="display: flex; flex-direction: row; width: 100%;">
                            <div style="justify-content: flex-start; width: 70%; ">
                                <div style="width: 250px;">
                                    <section class="titles" style="margin-top: 15px; font-size: 1.7em;">Detalles de
                                        la Consulta
                                    </section>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end; width: 40%;">
                                <img class="ico_menu justify-content: flex-end;"
                                    src="/assets/images/investor/icoword.png" alt="">
                            </div>
                        </div>

                        <div class="scrollbar_">
                            <table id="season-tble">
                                <tr>

                                    <th>
                                        <section class="theader-flex">Código de proyecto </section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">Nombre de la Empresa</section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">Inversión solicitada</section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">Inversión realizada</section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">Plazo Meses</section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">%Recaudado</section>
                                    </th>
                                    <th>
                                        <section class="theader-flex">Estado <img  *ngIf="!!detallestatus" class="ico_menu"
                                                src="/assets/images/shared/status.png" alt="" matTooltipPosition="above"
                                                matTooltip={{detallestatus.detalle}}></section>
                                    </th>

                                  
                                </tr>
                                <tr *ngFor="let datos of intransit">
                                    <td>
                                        <section class="box-flex" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}"> {{datos.codProyecto}}</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">{{datos.nombreEmpresa}}</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" style="display: flex; text-align: end; justify-content: flex-end;" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">${{datos.inversionSolicitada}}</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" style="display: flex; text-align: end; justify-content: flex-end;" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">${{datos.inversionRealizada}}</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">{{datos.plazo}}</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">{{datos.porcentajeRecuadado}}%</section>
                                    </td>
                                    <td>
                                        <section class="box-flex" [ngClass]="{'box-green':datos.porcentajeRecuadado>50}">{{datos.estado}}</section>
                                    </td>
                                    <td>
                                        <section (click)="AprobarModal(datos.codProyecto, datos.inversionSolicitada,datos.nombreEmpresa)" class="ico_style"> 
                                            <img  matTooltipPosition="above"
                                            matTooltip="Aprobar solicitudes" style="width: 40px;" src="/assets/images/analyst/aprobar.png" alt=""></section>
                                    </td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>