<div class="opt_menu">
    <div class="btn_background">
        <div class="datos">
            <img class="ico_logo" src="/assets/images/investor/img_logo.png" alt="">
            <div>Hola {{val}}</div>
            <div><a href="">Configuracion de perfil </a></div>
            <div><a href="">Cambiar contraseña</a></div>
            <div><a href="" (click)="cerrarsession()">Cerrar sesión </a></div>
        </div>
        <div class="mobile_inicio"> <img src="/assets/images/investor/ico_home.png" alt=""><span> INICIO</span></div>
        
    </div>
 </div> 