<div class="main">
    <div class="background body">
        <div class="container_">
            <div class="datos">
                <div class="contenedor-btn">
                    <div class="elemts " (click)="clickselectpage('invierte')" >
                        <img class="money" src="/assets/images/register/newDesign/money.png" alt="">
                        <a class="btnRegister " >Invierte</a>
                    </div>
                    <div class="elemts"  (click)="clickselectpage('financiamiento')">
                        <img class="mobile" src="/assets/images/register/newDesign/mobile.png" alt="">
                        <a class="btnRegister btnfinanciamiento">Financiamiento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
